<div class="homePage">
    <div class="titleBar">
        <div class="title">
            OSCAR LISTR
        </div>
    </div>

    <div class="introText">
        Find Oscar Nominees! (2010-2013)
    </div>
    <div class="movieListContainer">
        <% @movies.each do |movie| %>
        <div class="singleMovie">
            <%= movie.title %> -- <%= movie.year %>
        </div>
        <% end %>
    </div>
</div>