<div class="homePage">
    <div class="titleBar">
        <div class="title">
            MOVIE BUFF
        </div>
    </div>

    <div class="introText">
        With movie buff you can show off which movies you've watched multiple times!
    </div>
    <div class="movieListContainer">
        <div class="singleMovie">
            I've seen this movie 20 times!
        </div>
        <div class="singleMovie">
            I've seen this movie 20 times!
        </div>
        <div class="singleMovie">
            I've seen this movie 20 times!
        </div>
        <div class="singleMovie">
            I've seen this movie 20 times!
        </div>
        <div class="singleMovie">
            I've seen this movie 20 times!
        </div>
        <div class="singleMovie">
            I've seen this movie 20 times!
        </div>
        <div class="singleMovie">
            I've seen this movie 20 times!
        </div>
        <div class="singleMovie">
            I've seen this movie 20 times!
        </div>
        <div class="singleMovie">
            I've seen this movie 20 times!
        </div>
        <div class="singleMovie">
            I've seen this movie 20 times!
        </div>
        <div class="singleMovie">
            I've seen this movie 20 times!
        </div>
    </div>
</div>